%body
  #content
    #logo
      %h1 Discover what's happening in the world in pics (with #{link_to "Twitter", "http://www.twitter.com", :id => "twitter"} trends and #{link_to "Flickr", "http://www.flickr.com", :id => "flickr"} photos)
    #banner
      #contentleft
        #options
          = link_to "Minute", { :action => "minute" }, :class => is_active?("minute")
          |
          = link_to "Day", { :action => "day" }, :class => is_active?("day")
          |
          = link_to "Week", { :action => "week" }, :class => is_active?("week")
        #main.image
          - @photos.each do |text, photos|
            - photos.each do |p|
              %span{:class => "photo", :style => "background-image:url('#{p.url}')"}
                %span#link.link
                  = text
                %span#share.share
                  = link_to image_tag("twitter.png"), "http://search.twitter.com/search?q=#{text}"
                  = link_to image_tag("flickr.png"), "http://www.flickr.com/search/?w=all&q=#{text}"
    #footer
      Copyright &#169; 2009 Twends, all rights reserved - Built using Rails, HAML and JQuery.